.grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 12fr;
    grid-template-areas:
        "logo nav nav"
        "sidebar content content"
        "sidebar content content";
    align-content: center;
    justify-content: center;
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.nav {
    grid-area: nav;
    background-color: #383b3f;
    color: #ccc;
}

.nav ul{
    display: flex;
    align-items: center;
    height: 100%;
}

.nav ul li{
    padding-left: 1em;
    list-style-type: none;
}


.sidebar {
    grid-area: sidebar;
    text-align: left;
    padding: 15px;
    background-color: #f8f9fa;
    border-right: 1px solid #ccc;
    color: #333;
}

.sidebar ul{
    padding-left: 1em;
}

.sidebar ul li{
    list-style-type: none;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 1em;
}

.sidebar ul li p{
    margin: 0;
}

.sidebar ul li i{
    width: 1em;
    text-align: right;
}

.sidebar > p{
    border-top: 1px solid #ccc;
    padding: 1em 2em;
}

.content {
    grid-area: content;
    padding: 2em;
}